In [17]:
import pandas as pd
df=pd.read_csv("D:\\User_Data\\Downloads\\55y_employee_by_county_indus_place.csv")

In [19]:
df.columns

Index(['表037_9.制造业各中分类按场所单位统计之从业员工人数(页289-308)', 'Unnamed: 1', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15'],
      dtype='object')

In [43]:
#df["表036_8.制造业各中分类按企业单位统计之从业员工人数(页269-288)"][8+23*2:8+23*2+22]
df["表036_8.制造业各中分类按企业单位统计之从业员工人数(页269-288)"][30]

'21 饮料制造业'

In [20]:
value1=df["Unnamed: 1"][8:8+22]
newdf=pd.DataFrame(value1)#columns=[df["表036_8.制造业各中分类按企业单位统计之从业员工人数(页269-288)"][8-1]])
indus=df["表037_9.制造业各中分类按场所单位统计之从业员工人数(页289-308)"][8-1]
newdf[indus]=value1
k=1
while (8+23*k+22)<=len(df):
    value=df["Unnamed: 1"][(8+23*k):(8+23*k+22)]
    newvalue=[]
    for i in value:
        newvalue.append(i)
    indus=df["表037_9.制造业各中分类按场所单位统计之从业员工人数(页289-308)"][8+23*k-1]
    newdf[indus]=newvalue
    #newdf=pd.concat([newdf,subdf],axis=1)
    k=k+1

In [79]:
newdf["test"]=value1

In [53]:
df["Unnamed: 1"][8:30]

8      5660
9      3195
10     4779
11     7460
12     3497
13     9460
14    10600
15     2965
16     3464
17     3578
18     4566
19     4000
20     3024
21     1300
22     1159
23      277
24    42012
25      900
26     2535
27     5574
28     2976
29      329
Name: Unnamed: 1, dtype: object

In [15]:
newdf.to_csv("50y_manufacturing.csv",encoding="")

UnicodeEncodeError: 'big5' codec can't encode character '\u4e1a' in position 19: illegal multibyte sequence

In [14]:
import os
os.getcwd()

'D:\\User_Data\\Documents\\GitHub\\Neural_Network'

In [21]:
newdf

,Unnamed: 1,20 食品制造业,21 饮料制造业,22 烟草制造业,23 纺织业,24 服饰品制造业,25 木竹藤柳制品制造业,26 家具及装设品制造业,27 纸及纸制品制造业,28 印刷制版及装订业,...,30 橡胶制品制造业,31 化学工业,32 石油炼制及煤制品制造业,33 非金属矿产物制品制造业,34 金属基本工业,35 金属制品制造业,36 机械制造修配业,37 电气机械器材制造修配业,38 运输工具制造修配业,39 其他制造业
8,6840,6840,1230,NaN,33589,4889,2299,504,2278,1723,...,2457,15983,845,7398,2838,4937,6156,11998,6334,4799
9,3231,3231,316,NaN,42,69,1466,35,1509,184,...,86,1168,6,1602,NaN,165,465,6,234,443
10,4468,4468,279,NaN,13900,376,461,700,467,126,...,451,1660,21,1826,315,646,517,443,672,491
11,5724,5724,3,NaN,5237,203,1117,499,142,275,...,110,2240,139,4728,90,447,843,4046,481,459
12,4499,4499,32,NaN,1554,400,994,55,1081,160,...,NaN,4790,89,2927,21,363,316,1138,62,327
13,10431,10431,23,1674,11548,335,3558,151,2673,529,...,1952,2589,6,1293,664,534,2336,454,460,596
14,16241,16241,359,NaN,7696,338,1674,183,1206,358,...,906,1663,15,1908,224,3187,1685,203,606,824
15,4315,4315,336,NaN,37,62,1100,112,417,153,...,NaN,206,NaN,914,NaN,99,85,19,106,34
16,8367,8367,147,NaN,578,807,246,19,426,214,...,3,342,NaN,1314,22,133,208,37,171,28
17,7053,7053,565,236,303,365,1464,123,1015,422,...,138,1675,92,1339,665,524,1039,89,384,260
18,11023,11023,106,NaN,3756,205,292,44,1111,240,...,389,929,32,4188,5,770,575,107,3845,188
19,6986,6986,94,NaN,626,6,539,33,1042,212,...,41,515,53,3541,138,537,272,6,142,28
20,5766,5766,367,307,343,60,781,39,31,256,...,40,255,8,803,NaN,275,331,4,335,91
21,2935,2935,24,NaN,54,10,435,2,NaN,93,...,NaN,39,NaN,370,NaN,12,20,NaN,10,68
22,2180,2180,287,91,33,17,708,28,NaN,164,...,NaN,637,NaN,507,NaN,45,252,1,252,NaN
23,277,277,13,NaN,29,5,28,NaN,NaN,41,...,NaN,5,NaN,100,NaN,11,13,16,176,28
24,6022,6022,1794,2844,5614,2549,3624,602,1392,5593,...,917,6640,671,3104,1654,3720,4499,7869,4586,1203
25,1245,1245,15,NaN,1260,383,826,110,42,276,...,3,1744,63,40,265,566,1006,726,4283,1047
26,3035,3035,524,NaN,1899,807,1419,468,797,1243,...,1162,1958,NaN,645,250,1644,3703,899,1447,979
27,3864,3864,239,NaN,5170,2261,287,192,139,843,...,178,4123,3,360,521,2191,2447,1659,1598,898
28,3519,3519,80,NaN,1751,843,9364,148,881,554,...,123,9004,4129,4019,7987,2203,4822,1044,4508,354
29,514,514,17,NaN,4624,587,43,419,690,20,...,952,640,19,2285,165,805,753,1724,169,235